<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/2c1948ce25.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/main.css" />
    <title>TODOS</title>
  </head>

  <body>

    <nav>
      <a href="/todos" class="header-links">HOME</a>
      <a href="/todo-done" class="header-links">DONE</a>
      <a href="/todo-undone" class="header-links">UNDONE</a>
      <a href="/new-to-old" class="header-links">NEW TO OLD</a>
      <a href="/old-to-new" class="header-links">OLD TO NEW</a>
    </nav>

    {{{body}}}

  </body>
</html>