<h3>CONFIRM DELETE</h3>

<div class="start-page-wrapper">
  <div class="add-todo-container">
    <h3>Todo details</h3>
    <div class="todo-single-information">
      <h5>Posted on: </h5>
      <li>{{created}}</li>
      <h5>What todo:</h5>
      <li>{{description}}</li>
      {{#if done}}
        <h4 class="status-checked">STATUS: CHECKED</h4>
      {{else}}
        <h4 class="status-unchecked">STATUS: UNCHECKED</h4>{{/if}}
    </div>
  </div>
</div>

<form action="/todos/{{id}}/delete-todo" method="post" class="form-delete-todo">
  <h4><input type="submit" class="delete-todo-submit" value="DELETE" /></h4>
</form>